@mixin titleDecoration {
  position: relative;
  &::after, &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    transform: rotate(20deg);
    border-radius: 20px;
    @content;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}
.about-slogan {
  @include titleDecoration {
    background-color: $highlight;
  }
}

.about-block {
  h3 {
    text-shadow: 0 0 3px #444;
    @include titleDecoration {
      background-color: white;
      box-shadow: 0 0 3px #777;
    }
  } 
  a:hover {
    opacity: .75 !important;
  }
}

@include media-breakpoint-down(md) {
  .about-title {
    font-size: 18px !important;
  }
  .about-title::before, .about-title::after {
    width: 100%;
    height: 2px;
    transform: rotate(0);
  }
  .about-title::before {
    top: 100%;
  }
}