.blog-article{
  transition: all .5s;
  &:first-child {
    padding-top: 0 !important;
  }
  &:last-child {
    border-bottom: none !important;
  }
  @include media-breakpoint-down(md) {
    &:first-child {
      padding-top: 2rem !important;
    }
    &:hover{
      background-color: rgba($primary, .05);
    }
  }
}

.outer-tag {
  div {
    width: 8px;
    height: 8px;
    transition: all .3s;
  }
  &:hover div, div.active{
    width: 10px;
    height: 10px;
    transform: rotate(360deg);
    background-color: $highlight !important;
  }
}

.inner-tag:hover {
  color: white !important;
  background-color: $primary !important;;
}

.watch-btn {
  position: relative;
  letter-spacing: 1px;
  transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgba(204, 224, 222, .5);
    width: 32px;
    height: 32px;
    z-index: -5;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  &:hover::before{
    width: 100%;
    background: rgba(204, 224, 222, .5);
  }
}

.article {
  .breadcrumb-item + .breadcrumb-item::before {
    color: #888 !important;
  }
}

.share-links {
  a {
    width: 15px;
    height: 15px;
    transition: background-color .3s;
    &:hover {
      color: white !important;
      border-color: white !important;
    }
  }
  .fb:hover {
    background-color: #4267B2;
  }
  .twitter:hover {
    background-color: #00acee;
  }
  .line:hover {
    background-color: #00B900; 
  }
}