.checkout {
  .steps {
    max-width: 500px;
    z-index: 1;
    &-item {
      position: relative;
      &:not(:first-child)::after {
        content: '';
        position: absolute;
        top: 30%;
        left: -50%;
        width: 100%;
        height: 2px;
        background-color: #ccc;
        z-index: -1;
      }
    }
    p {
      width: 40px;
      height: 40px;
      line-height: 40px;
      color: white;
      background-color: #ccc;
    }
    &-item.active {
      color: $highlight;
      p {
        background-color: $highlight;
      }
      &::after {
        background-color: $success;
      }
    }
    &-item.success {
      color: $success;
      p {
        color: $success;
        border: 2px solid $success;
        background-color: $light;
      }
      &::after {
        background-color: $success;
      }
    }
  }

  .product-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
}