.products {
  .search{
    position: relative;
    input {
      &:focus {
        box-shadow: none;
      }
    }
    span {
      position: absolute;
      left: 50%;
      right: 50%;
      bottom: 0;
      height: 1px;
      background-color: $secondary !important;
      transition: .3s;
    }
    input:focus ~ span {
      left: 0;
      right: 0;
    }
  }
  .sidebar {
    li:last-child {
      border: none !important;
    }
    button {
      transition: .3s;
      &.active {
        color: white !important;
        background-color: $priLight;
      }
      &:not(.active):hover {
        background-color: #00336311;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .sidebar li {
      width: 50%;
      &:nth-child(n+5) {
        border-bottom: none !important;
      }
      &:nth-child(odd) {
        border-right: 1px solid #dee2e6;
      }
    }
  }
}

.product-card{
  .image {
    height: 200px;
    &::after {
      position: absolute;
      content: 'VIEW';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient( rgba(0, 0, 0, .1) 0%, rgba($primary, .4) 100%);
      transform: translateY(-50%);
      font-size: 20px;
      color: white;
      opacity: 0;
      transition: all .3s;
    }
  }
  &:hover .image::after {
    font-size: 15px;
    transform: translateY(0);
    opacity: 1;
  }
  .add-to-favorite {
    transition: .3s;
    &:hover {
      transform: scale(1.1);
    }
  }

  @include media-breakpoint-down(md){
    h3 {
      font-size: 18px !important;
    }
  }
}
