.products {
  .banner {
    height: 280px;
    z-index: 1;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba($gray, .3);
      z-index: -1;
    }
  }
  h2 {
    text-shadow: 1px 1px 2px $primary;
  }
  .search{
    max-width: 300px;
    :focus {
      background-color: #fff !important;
    }
  }
  .sidebar {
    li:last-child {
      border: none !important;
    }
    button.active {
      color: white !important;
      background-color: $priLight;
    }
    button:not(.active):hover {
      background-color: #00336311;
    }
  }
  .product-item{
    a {
      height: 200px;
      &::after {
        position: absolute;
        content: '查看更多';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color: white;
        background-color: rgba($gray, .4);
        opacity: 0;
        transition: all .3s;
      }
      &:hover::after {
        font-size: 15px;
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .banner {
      height: 180px;
    }
    .sidebar li {
      width: 50%;
      &:nth-child(n+5) {
        border-bottom: none !important;
      }
      &:nth-child(odd) {
        border-right: 1px solid #dee2e6;
      }
    }
    .product-item h3 {
      font-size: 18px !important;
    }
  }
}

