.logo {
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Italiana';
  &:hover {
    color: white;
  }
}

.menu-link {
  position: relative;
  transition: all .2s;
  &:not(.active):hover {
    opacity: .85;
  }
  &.active {
    opacity: .6;
  }
}

.menu-icon-btn {
  font-size: 20px;
  border-radius: 50%;
  transition: .3s;
  span {
    position: absolute;
    font-size: 15px;
    color: #fff;
    top: -5px;
    right: -12px;
    transform: scale(.75);
  }
  &:hover{
    opacity: .85;
  }
}

a.menu-icon-btn {
  padding-top: 2px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.burgerBtn {
  align-self: stretch;
  position: relative;
  &.white {
    &::before, &::after{
      background: white;
    }
  }
  &.primary {
    &::before, &::after{
      background: $primary !important;
    }
  }
  &:hover::before, &:hover::after {
    width: 25px;
    background: $secondary;
    transform: translateX(0);
  }
  &::before, &::after {
    content: '';
    position: absolute;
    background: $primary;
    height: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 1px;
    transition: .4s;
  }
  // 展開前
  &::before {
    top: -8px;
    width: 25px;
    transform: rotate(0);
  }
  &::after {
    top: 8px;
    transform: translateX(5px);
    width: 15px;
  }

  // 展開後
  &[aria-expanded=true]::before {
    top: 0;
    width: 25px;
    transform: rotate(-45deg);
  }
  &[aria-expanded=true]::after {
    top: 0;
    width: 25px;
    transform: rotate(45deg);
  }
}

@include media-breakpoint-down(md) {
  .navbar{
    margin-top: 1rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .logo {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.25rem;
  }
  .menu-icon-btn {
    align-self: stretch;
  }
  .menu-icon-btn:hover {
    color: $secondary !important;
    background-color: transparent;
  }
  .navbar-collapse {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    padding: 0 1rem;
    border-top: 1px dotted $priLight;
    border-bottom: 1px dotted $priLight;
    background-color: rgba($white, .9) !important;
    z-index: 1000;
  }
  .menu-link {
    color: $primary !important;
    margin: 0 !important;
    &:not(.active):hover {
      color: $primary;
      background-color: rgba($priLight, .1);
    }
  }
}