body {
  line-height: 1.5;
  font-size: 15px;
  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

a {
  display: block;
  transition: all .3s;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  border: none;
  &:focus {
    outline: none;
  }
}

.material-icons {
  font-size: 20px;
}

button {
  font-size: inherit;
  border: none;
  background-color: transparent;
}

.btn:disabled {
  pointer-events: auto;
  cursor: not-allowed !important;
}

ul {
  margin-bottom: 0;
  li:last-child {
    margin-bottom: 0 !important;
  }
}

blockquote {
  line-height: 2;
  padding-left: 20px;
  color: #999;
  border-left: 4px solid #ccc;
}

table {
  table-layout: fixed;
}

textarea {
  resize: none;
}

::selection {
  background-color: $highlight;
  color: white;
}

::placeholder {
  font-size: 14px;
}

*:not(.table-responsive):not(.offcanvas-body):not(textarea)::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 10px;
  background-color: #ccc;
}

.main-content {
  margin-top: 124px;
  @media (max-width: 767.98px) {
    margin-top: 96px;
  }
}

@include media-breakpoint-down(sm){
  .h6, .fs6 {
    font-size: 14px;
  }
  .btn {
    font-size: inherit;
  }
}