.img-cover {
  object-fit: cover;
}

.ff-special {
  font-family: 'Italiana';
}

.border-dotted {
  border: 2px dotted #ccc;
}

.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-md-fixed {
  background-attachment: fixed;
  @include media-breakpoint-down(md) {
    background-attachment: scroll;
  }
}

.bg-whiteBlur {
  background-color: rgba($white, .9) !important;
  backdrop-filter: blur(5px);
}

.bg-whiteLightBlur {
  background-color: rgba($white, .4) !important;
  backdrop-filter: blur(5px);
}

.text-spacing {
  &-m {
    letter-spacing: 1.2px;
  }
  &-l {
    letter-spacing: 0.5rem;
  }
  &-xl {
    letter-spacing: 1rem;
  }
}

.text-space-pre {
  white-space: pre;
}

.list-style-circle {
  list-style-type: circle;
}

.btn-primary, .btn-primary:hover, .btn-outline-primary:not(:disabled):hover,
.btn-secondary, .btn-secondary:hover, .btn-outline-secondary:not(:disabled):hover,
.btn-gray, .btn-gray:hover, .btn-outline-gray:not(:disabled):hover,
.btn-highlight, .btn-highlight:hover, .btn-outline-highlight:not(:disabled):hover,
.btn-danger, .btn-danger:hover,.btn-outline-danger:not(:disabled):hover,
.btn-check:checked + .btn-outline-secondary,
.btn-check:active + .btn-outline-secondary,
.btn-outline-secondary:active, .btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show {
  color: white !important;
}

.link-primary:hover {
  opacity: .7;
}

@include media-breakpoint-down(md) {
  .pics-carousel {
    height: 50% !important;
  }
}